.button {
	&__login {
		background-color: black;
		height: 50px;
		width: 50px;
		color: white;
		border-radius: 200px;
		outline: none;
		text-decoration: none;
	}
}

.outline-button {
	background-color: transparent;
	border: none;
	border-bottom: solid white 5px;
	color: white;
	cursor: pointer;
	font-weight: 900;
	letter-spacing: 3px;
	margin: 20px 0px;
	padding: 10px;
	transition: all 0.5s ease;
	width: 100px;

	&:hover {
		border-bottom: solid black 5px;
		background-color: white;
		color: black;
	}
}

.float {
	background-color: rgb(26, 27, 26);
	border-radius: 50px;
	border: none;
	bottom: 40px;
	color: #fff;
	cursor: pointer;
	height: 60px;
	position: fixed;
	right: 40px;
	text-align: center;
	transition: all 0.5s ease;
	width: 60px;

	&:hover {
		background-color: aquamarine;
		color: black;
	}
}
