.button {
	&__login {
		background-color: black;
		height: 50px;
		width: 50px;
		color: white;
		border-radius: 200px;
		outline: none;
		text-decoration: none;
	}
}

.outline-button {
	background-color: transparent;
	border: none;
	border-bottom: solid white 5px;
	color: white;
	cursor: pointer;
	font-weight: 900;
	letter-spacing: 3px;
	margin: 20px 0px;
	padding: 10px;
	transition: all 0.5s ease;
	width: 100px;

	&:hover {
		background-color: white;
		color: black;
	}
}
