.link {
	color: white;
	text-decoration: none;
	outline: none;
	font-size: 15px;
	letter-spacing: 3px;
	transition: all 0.5s ease;

	// &:hover {
	// 	color: rgb(255, 208, 0);
	// }

	// &:active {
	// 	text-decoration: none;
	// 	outline: none;
	// 	color: rgb(255, 208, 0);
	// }
}
